.desktop-nav-links{
    display: flex;
    align-items: center;
    gap: 47px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.129px;
    color: white;
}

.desktop-contact{
    position: relative;
    width: 140px;
    height: 56px;
    background-color: #FFF;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-display);
    font-size: 15px;
    line-height: 25px; /* 166.667% */
    letter-spacing: -0.107px;
    text-transform: uppercase;
}

.desktop-contact:hover{
    background-color: rgb(255, 255, 255, 0.2537);
    color: #FFF;
}