.nav-links{
    opacity: 0;
    top: 90px;
}

.nav-links.show{
    display: flex;
    justify-content: center;
    width: 329px;
    z-index: 10;
    position: fixed;
    top: 110px;
    right: 24px;
    opacity: 1;
    animation-name: example;
    animation-duration: 1s;

}

@keyframes example {
    from {top: 90px; opacity: 0}
    to {top: 110px; opacity: 1}
}

ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 10;
    width: 329px;
    background: #FFFCF8;
    margin: 0;
    padding: 0;
    height: 305px;
    position: relative;
}

ul::before{
    content: '';
    background: #FFFCF8;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -22px;
    left: 305px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

li a{
    color: #808397;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.143px;
}

.contact{
    width: 140px;
    height: 56px;
    border-radius: 28px;
    background: #FBD600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #24303E;
    text-transform: uppercase;
    font-family: var(--font-display);
    font-size: 15px;
    letter-spacing: -0.107px;
    line-height: 25px;
}
