footer{
    height: 350px;
    background-color: #90D4C6;
    padding-block: 1rem;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .footer-nav-links{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-block-start: 40px;
  }

  .socials{
      display: flex;
      gap: 28px;
      align-items: center;
      margin-block-start: 88px;
  }

  a{
      text-decoration: none;
      color: #458D7E;
      font-size: 18px;
  }