.header{
    background: url("../images/mobile/image-header.jpg"), lightgray 0 0 / 100% 100%;
    background-size: cover;
    background-position-y: bottom;
    min-height: 420px;
    z-index: 10;
}

.copy{
    padding-inline: 1rem;
    font-size: 40px;
    text-align: center;
    color: var(--white);
    padding-block-start: 3.825rem;
    line-height: 1.25;
    letter-spacing: 6.25px;
    text-transform: uppercase;
}

.arrow{
    display: flex;
    justify-content: center;
    margin-block-start: .5rem;
}
