.header{
    background: url("../images/mobile/image-header.jpg");
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    min-height: 420px;
}

.copy{
    padding-inline: 1rem;
    font-size: 40px;
    text-align: center;
    color: var(--white);
    padding-block-start: 3.825rem;
    line-height: 1.25;
    letter-spacing: 6.25px;
    text-transform: uppercase;
}

.arrow{
    display: flex;
    justify-content: center;
    margin-block-start: .5rem;
}

@media (min-width: 768px){

    .header{
        background: url("../images/desktop/image-header.jpg");
        background-size: cover;
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
    .copy{
        font-size: 56px;
        letter-spacing: 8.75px;
        padding-block-start:3rem;
    }

    .arrow{
        display: flex;
        justify-content: center;
        margin-block-start: 1rem;
    }
}

@media (min-width: 1200px){
    .header{
        background: url("../images/desktop/image-header.jpg");
        background-size: cover;
        background-position-y: 100%;
        background-repeat: no-repeat;
        min-height: 746px;
    }
    .copy{
        font-size: 56px;
        letter-spacing: 8.75px;
        padding-block-start: 8rem;
    }

    .arrow{
        display: flex;
        justify-content: center;
        margin-block-start: 10rem;
    }
}
