h2 {
    font-size: 32px;
    color: #24303E;
}

h2.overlay {
    color: #052C3B;
    opacity: 0.75;
}

.row {
    display: flex;
    flex-wrap: wrap-reverse;
}

.img-tile {
    height: 312px;
}

.text-tile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 24px;
    padding-block: 3.5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #FFFCF8;
}

p {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.129px;
}

.services-row{
  display: flex;
  flex-wrap: wrap;
}

.graphic-design {
    display: grid;
    padding-block-end: 59px;
    padding-inline: .25rem;
    background-image: url("../images/mobile/image-graphic-design.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-self: flex-end;
    text-align: center;
}

.service {
    display: grid;
    padding-block-end: 59px;
    padding-inline: .25rem;
    background-image: url("../images/mobile/image-photography.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

button.learn-more {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-flex;
    font-family: var(--font-display);
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

button.learn-more.yellow::after {
    content: '';
    width: 137px;
    height: 10px;
    border-radius: 28px;
    opacity: 0.25;
    background: #FAD400;
    position: absolute;
    top: 15px;
    left: -10px;
}

button.learn-more.red::after {
    content: '';
    width: 137px;
    height: 10px;
    border-radius: 28px;
    opacity: 0.25;
    background: #FE7766;
    position: absolute;
    top: 15px;
    left: -10px;
}

button.learn-more.yellow:hover::after{
  opacity: 0.8;
}


button.learn-more.red:hover::after{
  opacity: 0.8;
}

@media (min-width: 768px) {
    h2 {
        font-size: 32px;
        line-height: 1.25;
    }

    .img-tile {
      flex: .5;
        height: 600px;
    }

    .tile-img {
       height: 600px;
    }

    .text-tile {
      display: grid;
      flex: .5;
        gap: 33px;
        width: 445px;
        padding-block: 0;
      padding-inline: 0;
        background: #FFFCF8;
        justify-content: center;
        align-items: center;
        text-align: left;
        align-self: center;
    }

    .text-tile h2, p.info, button{
      max-width: 445px;
    }
    p.info{
      max-width: 445px;
    }

    .graphic-design{
      background-image: url("../images/desktop/image-graphic-design.jpg");
      background-position: center;
      background-size: cover;
      width: 50%;
    }

    .service{
      background-image: url("../images/desktop/image-photography.jpg");
      background-position: center;
      background-size: cover;
      width: 50%;
    }
    .content{
      text-align: center;
      align-items: center;
      font-size: 16px;
      line-height: 27px;
    }
    .content h2,p{
      max-width: 380px;
    }

}

@media (min-width: 1200px){
    .services-row{
        width: 100vw;
    }
  .graphic-design{
    width: 50vw;
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }

  .service{
    width: 50vw;
    background-image: url("../images/desktop/image-photography.jpg");
  }

  .content{
    text-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 27px;
    margin-block-start: 0;
    align-self: flex-end;
  }
}