section{
    height: fit-content;
}
h3 {
    font-size: 16px;
    color: #A7AAAD;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    margin-block-start: 5rem;
}

h4 {
    font-size: 18px;
    color: #24303E;
}

p {
    color: #24303E;
}

b {
    color: #A7AAAD;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.1px;
    padding-inline: 4.5px;
}

.testimonials {
    padding-block: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
    text-align: center;
    padding-inline: 24px;
    background: #FFFCF8;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

img.portrait {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.name {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

@media (min-width: 768px) {
    .testimonials-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-height: 800px;
    }

    h3 {
        text-align: center;
        font-size: 20px;
    }

    .testimonials {
        display: flex;
        justify-content: center;
        text-align: center;
    }


}