.header{
    background-image: url("./images/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    min-height: 538px;
}

.copy{
    padding: 1rem;
    font-size: 40px;
    text-align: center;
    color: var(--white);
    margin-block-start: 3rem;
    line-height: 1.25;
    letter-spacing: 6.25px;
    text-transform: uppercase;
}

.arrow{
    display: flex;
    justify-content: center;
    margin-block-start: .5rem;
}



