@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-display);
  margin: 0;
  padding: 0;
}

button{
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

:root{
  --primary-red: hsl(7, 99%, 70%);
  --primary-yellow:hsl(51, 100%, 49%);
  --primary--desaturated-cyan:hsl(167, 40%, 24%);
  --primary-blue:hsl(198, 62%, 26%);
  --primary-moderate-cyan: hsl(168, 34%, 41%);
  --neutral-blue: hsl(212, 27%, 19%);
  --neutral-very-dark-blue: hsl(213, 9%, 39%);
  --neutral-dark-blue:hsl(232, 10%, 55%);
  --neutral-grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
  --font-display: 'Fraunces', serif;
  --font-normal: 'Barlow', sans-serif;
}